## Standard Scaling

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [30]:
df=pd.read_csv(r"C:\Users\Admin\Desktop\Preprocessing\Standardization\titanic-train.csv")

In [31]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [33]:
df=df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]

In [34]:
train_data,test_data=train_test_split(df,test_size=0.3,random_state=42)

In [35]:
train_data['Age'].fillna(train_data['Age'].mean(),inplace=True)
test_data['Age'].fillna(test_data['Age'].mean(),inplace=True)

In [36]:
train_data

     Pclass        Age  SibSp  Parch      Fare
445       1   4.000000      0      2   81.8583
650       3  29.256353      0      0    7.8958
172       3   1.000000      1      1   11.1333
450       2  36.000000      1      2   27.7500
314       2  43.000000      1      1   26.2500
..      ...        ...    ...    ...       ...
106       3  21.000000      0      0    7.6500
270       1  29.256353      0      0   31.0000
860       3  41.000000      2      0   14.1083
435       1  14.000000      1      2  120.0000
102       1  21.000000      0      1   77.2875

[623 rows x 5 columns]

In [37]:
sclar=StandardScaler()
sclar.fit(train_data)

StandardScaler()

In [38]:
sclar.mean_

array([ 2.34189406, 29.25635271,  0.57624398,  0.38683788, 31.84072953])

In [39]:
train_data_scaled=sclar.transform(train_data)

In [40]:
train_data_scaled

array([[-1.63788124e+00, -1.94035569e+00, -4.74161409e-01,
         1.99885349e+00,  9.80998232e-01],
       [ 8.03267115e-01,  2.72942348e-16, -4.74161409e-01,
        -4.79327056e-01, -4.69633637e-01],
       [ 8.03267115e-01, -2.17083501e+00,  3.48686942e-01,
         7.59763217e-01, -4.06136315e-01],
       ...,
       [ 8.03267115e-01,  9.02222626e-01,  1.17153529e+00,
        -4.79327056e-01, -3.47787425e-01],
       [-1.63788124e+00, -1.17209128e+00,  3.48686942e-01,
         1.99885349e+00,  1.72907416e+00],
       [-1.63788124e+00, -6.34306194e-01, -4.74161409e-01,
         7.59763217e-01,  8.91350800e-01]])

In [41]:
test_data_scaled=sclar.transform(test_data)

In [42]:
test_data_scaled

array([[ 0.80326712,  0.11296494,  0.34868694,  0.75976322, -0.32547755],
       [-0.41730706,  0.13395822, -0.47416141, -0.47932706, -0.41855727],
       [ 0.80326712, -0.71113263, -0.47416141, -0.47932706, -0.46906094],
       ...,
       [-1.63788124,  2.74605721, -0.47416141, -0.47932706, -0.10376746],
       [ 0.80326712, -0.94161196, -0.47416141, -0.47932706, -0.45459629],
       [-1.63788124, -0.09652111, -0.47416141, -0.47932706, -0.10376746]])